@{
    ViewBag.Title = "Cтраница учёта инструмента";
}

<div class="tablewithbuttons">
    <button id="addRowBtn" class="btn btn-primary" onclick="return addrow()">Добавить пользователя</button>
    <h3 class="text-center">Учёт инструмента за сотрудниками</h3>
    <table id="table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Инструмент</th>
                <th class="text-center">Фамилия Имя Отчество</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody class="tbody">
        </tbody>
    </table>
</div>